#text-wrapper{
    margin-top: 15px;
    width: 100%;
    text-align: center;

    #text{
        display: inline;
        overflow-y: scroll;
        width: 300px;
        height: 200px;
        resize:none;
        border-radius: 40px;
        border: 3px solid #ebc5cb;
        padding: 40px;
        background: #dba1c3;
        color: #445450;
        font: 400 30px/32px Arial;
        &::-webkit-scrollbar{
            display: none;
        }
        &:focus{
            outline: solid #facbd3;
        }
    }    
}

#control-wrapper{
    width: 100%;
    text-align: center;
    button{
        display: inline-block;
        
        background-color:#A18089 ;
        color: #EDF7F6;
        font:400 30px/32px Arial;
        border-radius: 15px;
        border: 3px solid #EDF7F6;
        transition: all 200ms;
        &:hover{
            cursor: pointer;
            background-color: #D5A5AF;
        }

    }
    
    
}
#chartSpeedWrapper{
    width: 100%;
    text-align: center;
    #chartSpeed{
        display: inline-block;
        
    }
}

#wordSpeedWrapper{
    width: 100%;
    text-align: center;
    #wordSpeed{
        display: inline-block;
        
    }
}


